
* {
  box-sizing: border-box;
}
body {
  width: 350px;
  height: 230px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
h1 {
  margin: 0;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt {
  float: left;
  width: 80px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  line-height: 2;
}
dd {
  margin-left: 100px;
  line-height: 2;
}
button,input[type='submit'] {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
button:hover,input[type='submit']:hover {
  background-color: #2e6da4;
}
input[type='text'],input[type='password'] {
  display: block;
  width: 100%;
  height: 25px;
  padding: 2px 9px;
  font-size: 11px;
  line-height: 1;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2.5px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  font-family: inherit;
  margin: 0;
  font: inherit;
}
input[type='text']:focus,input[type='password']:focus {
  border-color: #ccc;
  border-color: rgba(82,168,236,.8);
  outline: 0;
  box-shadow: 0 0 8px rgba(82,168,236,.6);
}
#status {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
  padding: 5px 15px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#status {
  opacity: 0;
}
.fadeinout {
    animation: fadeinout 4s linear forwards;
    opacity: 0;
}
@keyframes fadeinout {
  25%,75% { opacity: 1; }
}
